body {
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
}

body button {
    font-size: 35px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #4a6885;
    background-color: #4a6885;
    color: white;
}
.delete-book, .change-read {
    margin-bottom: 0;
}
table, td {
    border: rgb(255, 255, 255) 2px solid;
    font-size: 40px;
    text-align: center;
}

body > button {
    position: fixed;
    top: 25px
}
table {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 120px;
}

thead {
    font-weight: bold;
}

td {
    background-color: rgb(185, 185, 185);
    padding: 10px;
}

dialog {
    font-size: 25px;
    background-color: rgb(185, 185, 185);
    height: 500px;
    width: 500px;
}